@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050505;
  color: #e0e0e0;
  font-family: "Cormorant Garamond", serif;
  overflow: hidden; /* Prevent scrolling, full screen app */
}

::selection {
  background: rgba(56, 189, 248, 0.2);
  color: #fff;
}

